<aside
	class="main-sidebar sidebar-dark-primary elevation-4 layout-fixed"
	th:fragment="sidebar">
	<!-- Brand Logo -->
	<a href="/" class="brand-link"> <img src="/icon.png" alt="Logo"
		class="brand-image img-circle elevation-3" style="opacity: 1"> <span
		class="brand-text font-weight-light">CorujaCondo</span>
	</a>

	<!-- Sidebar -->
	<div class="sidebar">
		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column"
				data-widget="treeview" role="menu" data-accordion="false">
				<!-- Dashboard Principal -->
				<!-- Seção: Dashboard -->
				<li class="nav-item"><a href="/dashFinanceiro" class="nav-link">
						<i class="nav-icon fas fa-tachometer-alt"></i>
						<p>Dashboard</p>
				</a></li>

				<!-- Seção: Gestão Financeira -->
				<li class="nav-item has-treeview"><a href="#" class="nav-link">
						<i class="nav-icon fas fa-wallet"></i>
						<p>
							Financeiro <i class="right fas fa-angle-left"></i>
						</p>
				</a>
					<ul class="nav nav-treeview">
						<li class="nav-item"><a href="/receitas" class="nav-link">
								<i class="fas fa-arrow-circle-up nav-icon"></i>
								<p>Receitas</p>
						</a></li>
						<li class="nav-item"><a href="/despesas" class="nav-link">
								<i class="fas fa-arrow-circle-down nav-icon"></i>
								<p>Despesas</p>
						</a></li>
						<li sec:authorize="hasAuthority('SINDICO')" class="nav-item"><a href="/categorias" class="nav-link">
								<i class="fas fa-folder nav-icon"></i>
								<p>Categorias</p>
						</a></li>
					</ul></li>

				<!-- Seção: Gestão de Usuários -->
				<li sec:authorize="hasAuthority('SINDICO')" class="nav-item has-treeview"><a href="#" class="nav-link">
						<i class="nav-icon fas fa-users"></i>
						<p>
							Usuários <i class="right fas fa-angle-left"></i>
						</p>
				</a>
					<ul  class="nav nav-treeview">
						<li class="nav-item"><a href="/responsaveis" class="nav-link">
								<i class="fas fa-user nav-icon"></i>
								<p>Permissonários</p>
						</a></li>
						<li class="nav-item"><a href="/usuarios/listar" class="nav-link"> <i
								class="fas fa-user-tag nav-icon"></i>
								<p>Usuários</p>
						</a></li>
					</ul></li>

				<!-- Seção: Gestão de Condomínio -->
				<li class="nav-item has-treeview"><a href="#" class="nav-link">
						<i class="nav-icon fas fa-building"></i>
						<p>
							Condomínio <i class="right fas fa-angle-left"></i>
						</p>
				</a>
					<ul class="nav nav-treeview">
						<li sec:authorize="hasAuthority('SINDICO')" class="nav-item"><a href="/imoveis" class="nav-link">
								<i class="fas fa-home nav-icon"></i>
								<p>Imóveis</p>
						</a></li>
						<li class="nav-item"><a href="/areaComum" class="nav-link">
								<i class="fas fa-tree nav-icon"></i>
								<p>Áreas Comuns</p>
						</a></li>
						<li class="nav-item"><a href="/agendamentos" class="nav-link">
								<i class="fas fa-calendar-alt nav-icon"></i>
								<p>Agendamentos</p>
						</a></li>
					</ul></li>

				<li sec:authorize="hasAuthority('SINDICO')" class="nav-item"><a href="/configuracoes" class="nav-link">
						<!-- Seção: Configurações -->
						<i class="nav-icon fas fa-cogs"></i>
						<p >Configurações</p>
						
				</a></li>
			</ul>
		</nav>
	</div>
</aside>
