
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4 layout-fixed" th:fragment="sidebar">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <span class="brand-text font-weight-light" >CorujaCondo</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
         <li class="nav-item menu-open">
    <a href="#" class="nav-link active">
        <i class="nav-icon fas fa-money-bill-wave"></i>
        <p>
            Financeiro
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <!-- Dashboard Financeiro -->
        <li class="nav-item">
            <a href="/dashFinanceiro" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <!-- Contas a Receber -->
        <li class="nav-item">
            <a href="/receitas" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Contas a Receber</p>
            </a>
        </li>
        <!-- Contas a Pagar -->
        <li class="nav-item">
            <a href="/despesas" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Contas a Pagar</p>
            </a>
        </li>
    </ul>
</li>
         
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>