<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Barra de Navegação -->
    <div th:insert="~{fragments/navbar :: navbar}"></div>

    <!-- Conteúdo Principal -->
    <div class="container mt-4">
        <!-- Título e Descrição -->
        <div>
            <h1 class="mb-4" th:text="${titulo}">CorujaCondo - Controle de Condomínio</h1>
            <p class="lead" th:text="${descricao}">Sistema para gerenciar a vila Militar de forma eficiente.</p>
        </div>

        <!-- Funcionalidades do Sistema -->
        <div>
            <h2>Funcionalidades do Sistema</h2>
            <ul class="list-group mt-3">
                <li class="list-group-item">Controle de receitas e despesas financeiras.</li>
                <li class="list-group-item">Gerenciamento de moradores e suas informações.</li>
                <li class="list-group-item">Agendamento de áreas comuns do condomínio.</li>
                <li class="list-group-item">Registro e acompanhamento de ocorrências.</li>
                <li class="list-group-item">Relatórios financeiros detalhados para transparência.</li>
            </ul>
        </div>
    </div>

    <!-- Footer -->
    <div th:insert="~{fragments/footer :: footer}"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
